<!-- <div *ngIf="bannerMovie" class="banner">
    <img [src]="'https://image.tmdb.org/t/p/original' + bannerMovie.backdrop_path" alt="{{bannerMovie.title}}">
    <div class="banner-content">
      <h1>{{ bannerMovie.title }}</h1>
      <p>{{ bannerMovie.overview }}</p>
      <button>Play</button>
      <button>My List</button>
    </div>
  </div> -->
  <div *ngIf="bannerMovie" class="banner">
    <img [src]="'https://image.tmdb.org/t/p/original/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg'" alt="{{bannerMovie.title}}">
    <div class="banner-content">
      <h1>Furiosa: A Mad Max Saga","original_title":"Furiosa: A Mad Max Saga","overview":"As the world fell, young Furiosa is snatched from the Green Place of Many Mothers and falls into the hands of a great Biker Horde led by the Warlord Dementus. Sweeping through the Wasteland they come across the Citadel presided over by The Immortan Joe. While the two Tyrants war for dominance, Furiosa must survive many trials as she puts together the means to find her way home.</h1>
      <p>"Teenager Riley's mind headquarters is undergoing a sudden demolition to make room for something entirely unexpected: new Emotions! Joy, Sadness, Anger, Fear and Disgust, who’ve long been running a successful operation by all accounts, aren’t sure how to feel when Anxiety shows up. And it looks like she’s not alone.</p>
      <button>Play</button>
      <button>My List</button>
    </div>
  </div>